body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

header {
  padding: 15px 0 0px 0;
}

h1 {
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 5px;
}

h2 {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 15px;
}

p {
  padding: 5px 0px 0px;
}

.weather-app {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px 50px;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  border-radius: 7px;
}

.search-form-input {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border-radius: 7px;
  width: 80%;
  padding: 8px 20px;
  border-color: cornflowerblue;
  border-width: 1px;
}

.search-form-button {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border-radius: 6px;
  padding: 8px 20px;
  width: 19%;
  border-color: cornflowerblue;
  border-width: 1px;
  background: #d8e8fd;
}

.location-unit-container {
  display: flex;
  justify-content: space-between;
}

.units {
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: right;
}

.today-date {
  font-size: 18px;
}

.current-conditions-container {
  display: flex;
  justify-content: start;
  gap: 16%;
}

.today-icon {
  width: 210px;
  height: 210px;
  margin-left: -40px;
  margin-top: -10px;
}

.today-temp {
  font-size: 100px;
  margin: 0px 0px -30px 0px;
}

.current-key-stats-container {
  display: flex;
  justify-content: space-between;
}

.current-conditions {
  font-weight: 500;
  font-size: 30px;
}

.current-conditions:first-letter {
  text-transform: capitalize;
}

.five-day-container {
  display: flex;
  justify-content: space-between;
}

.five-day-container div {
  text-align: center;
}

.five-icon {
  width: 70px;
  height: 70px;
  margin: -15px -3px 0px 0px;
}

.five-day-high {
  font-weight: bold;
}

.footer {
  font-size: 11px;
  max-width: 600px;
  margin: -15px auto;
  color: rgba(0, 0, 0, 0.6);
}
