body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

header {
  padding: 0 0 30px 0;
}

h1 {
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 5px;
}

h2 {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 15px;
}

p {
  padding: 5px 0px 0px;
}

.weather-app {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px 50px;
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
  border-radius: 7px;
}

.search-form-input {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border-radius: 6px;
  width: 80%;
  padding: 8px 20px;
  border-color: cornflowerblue;
  border-width: 1px;
}

.search-form-button {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border-radius: 6px;
  padding: 8px 20px;
  width: 19%;
  border-color: cornflowerblue;
  border-width: 1px;
}

.units {
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: right;
}

.today-date {
  font-size: 18px;
}

.today-temp {
  font-size: 100px;
  margin: 0px 0px -30px 0px;
}

.current-conditions {
  font-weight: 500;
  font-size: 30px;
}
.today-icon {
  font-size: 118px;
  padding-top: 35px;
  margin: 0px 10px;
}

.five-forecast {
  text-align: center;
  position: relative;
  left: -12px;
}

.five-icon {
  font-size: 30px;
  margin: 0px 0px 10px 0px;
}

.footer {
  font-size: 11px;
  max-width: 600px;
  margin: -15px auto;
  color: rgba(0, 0, 0, 0.6);
}
